@page "/add"
@using DNPAssigment1.Shared
@using DNPAssigment1.Data
@using DNPAssigment1.Models

@inject IFamilyService FamilyService;
<h3>Add</h3>
<form>
    <div class="form-group">
        <label>Choose family: </label>
        <select class="form-control" @onchange="onFamilyChange">
            <option value="choose">None</option>
            @foreach (var family in getFamilies())
            {
                <option value="@family.Id">@family.Lastname</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Choose type: </label>
        <select class="form-control" @onchange="PopRightForm" bind="@selectedType">
            <option value="choose">None</option>
            <option value="family">Family</option>
            <option value="adult">Adult</option>
            <option value="child">Child</option>
            <option value="pet">Pet</option>
        </select>
    </div>
</form>
<div>

    @if (adult)
    {
        <form>
            <div class="form-group">
                <label>First name: </label>
                <input class="form-control input-group-text" @bind-value="newAdult.FirstName">
            </div>
            <div class="form-group">
                <label>Last name: </label>
                <input class="form-control input-group-text" @bind-value="newAdult.LastName">
            </div>
            <div class="form-group">
                <label>Age: </label>
                <input class="form-control input-group-text" @bind-value="newAdult.Age">
            </div>
            <div class="form-group">
                <label>ID: </label>
                <input class="form-control input-group-text" @bind-value="newAdult.Id">
            </div>
            <div class="form-group">
                <label>Choose eye color: </label>
                <select class="form-control" @onchange="onEyeColorChange">
                    @foreach (var color in eyeColors)
                    {
                        <option value="@color">@color</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Choose hair color: </label>
                <select class="form-control" @onchange="onHairColorChange">
                    @foreach (var color in  hairColors)
                    {
                        <option value="@color">@color</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Choose job: </label>
                <select class="form-control" @onchange="onJobChange">
                    @foreach (var job in  jobs)
                    {
                        <option value="@job">@job</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Weight: </label>
                <input class="form-control input-group-text" @bind-value="newAdult.Weight">
            </div>
            <div class="form-group">
                <button class="btn btn-secondary" @onclick="saveAdult">Save adult</button>
            </div>
            @if(error){
                            <label>@errorLabel</label>
                        }
        </form>
    }
</div>
<div>
    @if (child)
    {
        <form>
            <div class="form-group">
                <label>First name: </label>
                <input class="form-control input-group-text" @bind-value="newChild.FirstName">
            </div>
            <div class="form-group">
                <label>Last name: </label>
                <input class="form-control input-group-text" @bind-value="newChild.LastName">
            </div>
            <div class="form-group">
                <label>Age: </label>
                <input class="form-control input-group-text" @bind-value="newChild.Age">
            </div>
            <div class="form-group">
                <label>ID: </label>
                <input class="form-control input-group-text" @bind-value="newChild.Id">
            </div>
            <div class="form-group">
                <label>Choose eye color: </label>
                <select class="form-control" @onchange="onEyeColorChange">
                    @foreach (var color in eyeColors)
                    {
                        <option value="@color">@color</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Choose hair color: </label>
                <select class="form-control" @onchange="onHairColorChange">
                    @foreach (var color in  hairColors)
                    {
                        <option value="@color">@color</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Weight: </label>
                <input class="form-control input-group-text" @bind-value="newChild.Weight">
            </div>
            <div class="form-group">
                <label>Choose interest: </label>
                <select class="form-control" @onchange="childInterestSelected">
                    @foreach (var interest in childInterests)
                    {
                        <option value="@interest">@interest.ToString()</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-secondary" @onclick="saveChild">Save child</button>
            </div>
            @if(error){
                            <label>@errorLabel</label>
                        }
        </form>
    }
</div>
<div>
    @if (pet)
    {
        <form>
            <div class="form-group">
                <label>Choose Species: </label>
                <select class="form-control" @onchange="petSpecieSelected">
                    @foreach (var specie in species)
                    {
                        <option value="@specie">@specie.ToString()</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Name: </label>
                <input class="form-control input-group-text" @bind="newPet.Name">
            </div>
            <div class="form-group">
                <label>Age: </label>
                <input class="form-control input-group-text" @bind="newPet.Age">
            </div>
            <div class="form-group">
                <button class="btn btn-secondary" @onclick="savePet">Save pet</button>
            </div>
            @if(error){
                            <label>@errorLabel</label>
                        }
        </form>
    }
</div>

<div>
    @if (family)
    {
        <form>
            <div class="form-group">
                <label>Adress: </label>
                <input class="form-control input-group-text"  @bind-value="newFamily.Address" placeholder="Address:">
            </div>
            <div class="form-group">
                <label>Last name: </label>
                <input class="form-control input-group-text" @bind-value="newFamily.Lastname">
            </div>
            <div class="form-group">
                <button class="btn btn-secondary" @onclick="saveFamily">Save family</button>
            </div>
            @if(error){
                <label>@errorLabel</label>
            }
        </form>
    }
</div>


@code {
    //------pet--------------------------
    Array species = Enum.GetValues(typeof(PetSpecies));
    Pet newPet = new Pet();

    private void savePet()
    {
    //TODO: saving comes here
        FamilyService.getSelectedFamily().Pets.Add(newPet);
        FamilyService.Update(CurrentFamily);

        pet = false;
    }

    //-------adult------------------------

    Adult newAdult = new Adult();

    private void saveAdult()
    {
        if (CurrentFamily.Adults.Count<2)
        {
            FamilyService.getSelectedFamily().Adults.Add(newAdult);
                    FamilyService.Update(CurrentFamily);
            
                    adult = false;
        }
        else
        {
            
            errorLabel = "You cannot add more adult to this family.";
            error = true;
        }
        
    }

    //-------child-------------------------
    Child newChild = new Child();


    private void saveChild()
    {
        if (CurrentFamily.Children.Count<5)
        {
            FamilyService.getSelectedFamily().Children.Add(newChild);
            FamilyService.Update(CurrentFamily);

            child = false; 
        }
        else
        {
            error = true;
            errorLabel = "You cannot add more child to this family.";
            
        }
        
        
    }

    //--------Family------------------------
    public Family CurrentFamily;
    public Family newFamily= new Family();

    private IList<Family> getFamilies()
    {
        return FamilyService.GetFamilies();
    }
    private void saveFamily()
    {
       FamilyService.AddFamily(newFamily);
    }


    //-------sahred--------------------------
    private bool adult = false;
    private bool child = false;
    private bool pet = false;
    private bool family = false;
    private bool error = false;
    private string errorLabel="";
    public string selectedType;

    Array eyeColors = Enum.GetValues(typeof(EyeColor));
    Array hairColors = Enum.GetValues(typeof(HairColor));
    Array jobs = Enum.GetValues(typeof(Job));
    Array childInterests = Enum.GetValues(typeof(ChildInterest));
    string type = "";

    private void onEyeColorChange(ChangeEventArgs obj)
    {
        if (type.Equals("Adult"))
        {
            newAdult.EyeColor = Enum.Parse<EyeColor>(obj.Value.ToString());
        }
        else
        {
            newChild.EyeColor = Enum.Parse<EyeColor>(obj.Value.ToString());
        }
    }

    private void onHairColorChange(ChangeEventArgs obj)
    {
        if (type.Equals("Adult"))
        {
            newAdult.HairColor = Enum.Parse<HairColor>(obj.Value.ToString());
        }
        else
        {
            newChild.HairColor = Enum.Parse<HairColor>(obj.Value.ToString());
        }
    }

    private void onJobChange(ChangeEventArgs obj)
    {
        newAdult.Job = Enum.Parse<Job>(obj.Value.ToString());
    }

    //----------------------------------------


    private void PopRightForm(ChangeEventArgs e)
    {
        switch (e.Value.ToString())
        {
            case "adult":
                family = false;
                child = false;
                pet = false;
                adult = true;
                type = "Adult";
                break;
            case "child":
                family = false;
                child = true;
                pet = false;
                adult = false;
                type = "Child";
                break;
            case "pet":
                family = false;
                child = false;
                pet = true;
                adult = false;
                type = "Pet";
                break;
            case "family":
                family = true;
                child = false;
                pet = false;
                adult = false;
                break;
            case "choose":
                family = false;
                child = false;
                pet = false;
                adult = false;
                break;
        }
    }


    private void petSpecieSelected(ChangeEventArgs obj)
    {
        switch (obj.ToString())
        {
            case "Hamster":
                newPet.Species = PetSpecies.Hamster;
                break;
            case "Bunny":
                newPet.Species = PetSpecies.Bunny;
                break;
            case "Frog":
                newPet.Species = PetSpecies.Frog;
                break;
            case "Budgerigar":
                newPet.Species = PetSpecies.Budgerigar;
                break;
            case "Owl":
                newPet.Species = PetSpecies.Owl;
                break;
            case "Snake":
                newPet.Species = PetSpecies.Snake;
                break;
            case "Dog":
                newPet.Species = PetSpecies.Dog;
                break;
            case "Cat":
                newPet.Species = PetSpecies.Cat;
                break;
        }
    }


    private void onFamilyChange(ChangeEventArgs obj)
    {
        if (!obj.Value.ToString().Equals("choose"))
        {
            int i = int.Parse(obj.Value.ToString());
            CurrentFamily = getFamilies()[i - 1];
        }
        FamilyService.setSelectedFamily(CurrentFamily);
    }

    private void childInterestSelected(ChangeEventArgs obj)
    {
        newChild.Interests.Add(Enum.Parse<ChildInterest>(obj.Value.ToString()));
    }

    

}