@page "/Addv2"
@using DNPAssigment1.Data
@using DNPAssigment1.Models
@using global::Models
@using System.Text.Json
@inject IFamilyService FamilyService;

<form>
<div class="form-row">
    <div class="form-group col">
        <label>Choose what needs to be added: </label>
        <select class="form-control" @bind="selectedAddType" style="background-color: #f7f7f7">
            <option selected value="family">Family</option>
            <option value="adult">Adult</option>
            <option value="child">Child</option>
            <option value="pet">Pet</option>
        </select>
    </div>
</div>

<hr>

@switch (selectedAddType)
{
    case "family":
    {
        <form>
            <div class="form-row">
                <div class="form-group col">
                    <label>Street name</label>
                    <input class="form-control" placeholder="Street name" @bind="familyStreetName">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>House number</label>
                    <input class="form-control" placeholder="House number" @bind="familyHouseNumber">
                </div>
            </div>
            <button class="btn btn-outline-dark btn-sm" @onclick="addFamily">Add family</button>
        </form>
        break;
    }
    case "adult":
    {
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>First name</label>
                    <input class="form-control" placeholder="First name" @bind="adultFirstname">
                </div>
                <div class="form-group col-md-6">
                    <label>Last name</label>
                    <input class="form-control" placeholder="Last name" @bind="adultLastname">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>ID</label>
                    <input class="form-control" placeholder="ID number" @bind="adultId">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Hair color</label>
                    <select class="form-control" @onchange="adultHairColorSelected" style="background-color: #f7f7f7">
                        @foreach (HairColor hairColor in (HairColor[]) Enum.GetValues(typeof(HairColor)))
                        {
                            <option value="@hairColor">@hairColor.ToString()</option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Eye color</label>
                    <select class="form-control" @onchange="adultEyeColorSelected" style="background-color: #f7f7f7">
                        @foreach (EyeColor eyeColor in (EyeColor[]) Enum.GetValues(typeof(EyeColor)))
                        {
                            <option value="@eyeColor">@eyeColor.ToString()</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>Age</label>
                    <input class="form-control" placeholder="Age (0-125)" @bind="adultAge">
                </div>
                <div class="form-group col-md-3">
                    <label>Weight</label>
                    <input class="form-control" placeholder="Weight (1-250) [kg]" @bind="adultWeight">
                </div>
                <div class="form-group col-md-3">
                    <label>Height</label>
                    <input class="form-control" placeholder="Height (30-250) [cm]" @bind="adultHeight">
                </div>
                <div class="form-group col-md-3">
                    <label>Sex</label>
                    <select class="form-control" @onchange="adultSexSelected" style="background-color: #f7f7f7">
                        <option value="Prefer not to answer">Prefer not to answer</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Job</label>
                    <select class="form-control" @onchange="adultJobSelected" style="background-color: #f7f7f7">
                        @foreach (Job job in (Job[]) Enum.GetValues(typeof(Job)))
                        {
                            <option value="@job">@job.ToString()</option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Family (street)</label>
                    <select class="form-control" @onchange="adultFamilySelected" style="background-color: #f7f7f7">
                        @foreach (var family in Families)
                        {
                            <option value="@family.StreetName">@family.StreetName</option>
                        }
                    </select>
                </div>
            </div>
            <button class="btn btn-outline-dark btn-sm" @onclick="addAdult">Add adult</button>
        </form>
        break;
    }
    case "child":
    {
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>First name</label>
                    <input class="form-control" placeholder="First name" @bind="childFirstname">
                </div>
                <div class="form-group col-md-6">
                    <label>Last name</label>
                    <input class="form-control" placeholder="Last name" @bind="childLastname">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>ID</label>
                    <input class="form-control" placeholder="ID number" @bind="childId">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Hair color</label>
                    <select class="form-control" @onchange="childHairColorSelected" style="background-color: #f7f7f7">
                        @foreach (HairColor hairColor in (HairColor[]) Enum.GetValues(typeof(HairColor)))
                        {
                            <option value="@hairColor">@hairColor.ToString()</option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Eye color</label>
                    <select class="form-control" @onchange="childEyeColorSelected" style="background-color: #f7f7f7">
                        @foreach (EyeColor eyeColor in (EyeColor[]) Enum.GetValues(typeof(EyeColor)))
                        {
                            <option value="@eyeColor">@eyeColor.ToString()</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label>Age</label>
                    <input class="form-control" placeholder="Age (0-125)" @bind="childAge">
                </div>
                <div class="form-group col-md-3">
                    <label>Weight</label>
                    <input class="form-control" placeholder="Weight (1-250) [kg]" @bind="childWeight">
                </div>
                <div class="form-group col-md-3">
                    <label>Height</label>
                    <input class="form-control" placeholder="Height (30-250) [cm]" @bind="childHeight">
                </div>
                <div class="form-group col-md-3">
                    <label>Sex</label>
                    <select class="form-control" @onchange="childSexSelected" style="background-color: #f7f7f7">
                        <option value="Prefer not to answer">Prefer not to answer</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Interests</label>
                    <select class="form-control" @onchange="childInterestSelected" style="background-color: #f7f7f7">
                        @foreach (ChildInterestEnum childInterest in (ChildInterestEnum[]) Enum.GetValues(typeof(ChildInterestEnum)))
                        {
                            <option value="@childInterest">@childInterest.ToString()</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <button type="button" class="btn btn-outline-dark btn-block" @onclick="addInterestToList">Add</button>
                    <small class="form-text text-muted">Selected interests:@childInterestListString</small>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Family</label>
                    <select class="form-control" @onchange="childFamilySelected" style="background-color: #f7f7f7">
                        @foreach (var family in Families)
                        {
                            <option value="@family.Id">@family.Id</option>
                        }
                    </select>
                </div>
            </div>
        </form>
        <button class="btn btn-outline-dark btn-sm" style="margin-bottom: 1%" @onclick="addChild">Add child</button>
        break;
    }
    case "pet":
    {
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Name</label>
                    <input class="form-control" placeholder="Name" @bind="petName">
                </div>
                <div class="form-group col-md-6">
                    <label>Age</label>
                    <input class="form-control" placeholder="Age" @bind="petAge">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label>Species</label>
                    <select class="form-control" @onchange="petSpeciesSelected" style="background-color: #f7f7f7">
                        @foreach (PetSpecies petSpecies in (PetSpecies[]) Enum.GetValues(typeof(PetSpecies)))
                        {
                            <option value="@petSpecies">@petSpecies.ToString()</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label>Family</label>
                    <select class="form-control" @onchange="petFamilySelected" style="background-color: #f7f7f7">
                        @foreach (var family in Families)
                        {
                            <option value="@family.Id">@family.Id</option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label>Child</label>
                    <select class="form-control" @onchange="petFamilySelected" style="background-color: #f7f7f7">
                        @foreach (var family in Families)
                        {
                            <option value="@family.Id">@family.Id</option>
                        }
                    </select>
                </div>
            </div>
            <button class="btn btn-outline-dark btn-sm" @onclick="addPet">Add pet</button>
        </form>
        break;
    }
}
</form>


@code {
    string selectedAddType { get; set; } = "family"; //default value when page is loaded
    private IList<Family> Families;


    protected async override Task OnInitializedAsync()
    {
        Families = await FamilyService.GetFamilies();

        if (Families.Count > 0)
        {
            adultFamilyStreetname = Families[0].StreetName;
        }
        else adultFamilyStreetname = "Empty";
    }

    // family----------------------------------------------------------------------------
    string familyStreetName;
    int? familyHouseNumber;


    public void addFamily()
    {
        Family newFamily = new Family();
        newFamily.HouseNumber = (int) familyHouseNumber;
        newFamily.StreetName = familyStreetName;
        FamilyService.AddFamily(newFamily);
    }

    // adult----------------------------------------------------------------------------
    string adultFirstname;
    string adultLastname;
    int? adultId;
    string adultHairColor = (HairColor.Blond.ToString()).ToLower(); //preselected
    string adultEyeColor = EyeColor.Brown.ToString().ToLower(); //preselected
    int? adultAge;
    int? adultWeight;
    int? adultHeight;
    string adultSex = "Prefer not to answer"; //preselected
    string adultJob = Job.Teacher.ToString(); //preselected
    string adultFamilyStreetname; //preselected

    void adultHairColorSelected(ChangeEventArgs e)
    {
        adultHairColor = (e.Value.ToString()).ToLower();
    }

    void adultEyeColorSelected(ChangeEventArgs e)
    {
        adultEyeColor = (e.Value.ToString()).ToLower();
    }

    void adultSexSelected(ChangeEventArgs e)
    {
        adultSex = e.Value.ToString();
    }

    void adultJobSelected(ChangeEventArgs e)
    {
        adultJob = e.Value.ToString();
    }

    void adultFamilySelected(ChangeEventArgs e)
    {
        adultFamilyStreetname = e.Value.ToString();
    }

    public async void addAdult()
    {
        Adult newAdult = new Adult();
        newAdult.FirstName = adultFirstname;
        newAdult.LastName = adultLastname;
        newAdult.Id = (int) adultId;
        newAdult.HairColor = adultHairColor;
        newAdult.EyeColor = adultEyeColor;
        newAdult.Age = (int) adultAge;
        newAdult.Weight = (int) adultWeight;
        newAdult.Height = (int) adultHeight;
        newAdult.JobTitle = adultJob;
        newAdult.Sex = adultSex;
    //Console.WriteLine(getJsonFormat(newAdult));
    //Console.WriteLine(adultFamilyStreetname);
        var familes = await FamilyService.GetFamilies();
        var selectedFamily = familes.FirstOrDefault(i => i.StreetName.Equals(adultFamilyStreetname));
        selectedFamily.Adults.Add(newAdult);
    //Console.WriteLine(getJsonFormat(selectedFamily));
        await FamilyService.Update(selectedFamily);
    }

    // child----------------------------------------------------------------------------
    string childFirstname;
    string childLastname;
    int? childId;
    string childHairColor = (HairColor.Blond.ToString()).ToLower();
    string childEyeColor = EyeColor.Brown.ToString().ToLower();
    int? childAge;
    int? childWeight;
    int? childHeight;
    string childSex = "Prefer not answer";
    ChildInterest childInterest = new ChildInterest();
    List<ChildInterest> childInterestList = new List<ChildInterest>();
    string childInterestListString;
    Family childFamily = new Family();

    void childHairColorSelected(ChangeEventArgs e)
    {
        childHairColor = e.Value.ToString();
    }

    void childEyeColorSelected(ChangeEventArgs e)
    {
        childEyeColor = e.Value.ToString();
    }

    void childInterestSelected(ChangeEventArgs e)
    {
        Interest interest = new Interest();
        interest.Type = e.ToString();
        childInterest.Interest = interest;
    }

    void childSexSelected(ChangeEventArgs e)
    {
        childSex = e.Value.ToString();
    }

    void addInterestToList()
    {
        if (childInterest.Interest.Type != null)
        {
            childInterestList.Add(childInterest);
        }
        childInterestListString = JsonSerializer.Serialize(childInterestList);
    }

    void childFamilySelected(ChangeEventArgs e)
    {
        childFamily = Families.FirstOrDefault(i => i.Id == (int) e.Value);
    }


    public async void addChild()
    {
        Child newChild = new Child();
        newChild.FirstName = childFirstname;
        newChild.LastName = childLastname;
        newChild.Id = (int) childId;
        newChild.HairColor = childHairColor.ToString();
        newChild.EyeColor = childEyeColor.ToString();
        newChild.Age = (int) childAge;
        newChild.Weight = (int) childWeight;
        newChild.Height = (int) childHeight;
        newChild.ChildInterests = childInterestList;
        var families = await FamilyService.GetFamilies();
        families.FirstOrDefault(i => i.Id == childFamily.Id).Children.Add(newChild);
    }

    //pet---------------------------------------------------------------------------------------------------------------------
    PetSpecies petSpecies;
    string petName;
    int? petAge;
    Family petFamily = new Family();


    void petSpeciesSelected(ChangeEventArgs e)
    {
        petSpecies = Enum.Parse<PetSpecies>(e.Value.ToString());
    }

    void petFamilySelected(ChangeEventArgs e)
    {
        petFamily = Families.FirstOrDefault(i => i.Id == (int) e.Value);
    }

    async void addPet()
    {
        Pet newPet = new Pet();
        newPet.Name = petName;
        newPet.Age = (int) petAge;
        newPet.Species = petSpecies.ToString();
        var families = await FamilyService.GetFamilies();
        families.FirstOrDefault(i => i.Id == (petFamily.Id)).Pets.Add(newPet);
    }

    //for testing
    string getJsonFormat(Object obj)
    {
        return JsonSerializer.Serialize(obj);
    }


}